<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627937680137-vpih5eqgu2nklcgpj44danibeg0tnt5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627937680137-vpih5eqgu2nklcgpj44danibeg0tnt5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCaeSRhRP-salTa8QX1cGHWLqwPzKbORUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>627937680137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nramirezscholapp.Schola-App</string>
	<key>PROJECT_ID</key>
	<string>schola-app-5b392</string>
	<key>STORAGE_BUCKET</key>
	<string>schola-app-5b392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627937680137:ios:2d097079df666a3a1291d8</string>
	<key>DATABASE_URL</key>
	<string>https://schola-app-5b392.firebaseio.com</string>
</dict>
</plist>